<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding content-centered">
  <form [formGroup]="form" (ngSubmit)="login()">

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <div *ngIf="form.controls['email'].invalid && form.controls['email'].touched"
      class="ion-text-center ion-margin-top">
      <ion-text color="danger">Email inválido</ion-text>
    </div>

    <ion-item class="ion-margin-top">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <div *ngIf="form.controls['password'].invalid && form.controls['password'].touched"
      class="ion-text-center ion-margin-top">
      <ion-text color="danger">Contraseña requerida</ion-text>
    </div>

    <div class="ion-margin-top ion-text-center">
      <ion-button expand="block" type="submit" [disabled]="form.invalid">Iniciar sesión</ion-button>
    </div>

    <div class="ion-text-center ion-margin-top" *ngIf="error()">
      <ion-text color="danger">{{ error() }}</ion-text>
    </div>

  </form>
</ion-content>