<div>
  <div (click)="desplegado()==false ? desplegado.set(true) : desplegado.set(false)"
    class="text-black text-sm-center ml-5 pt-5 flex-row flex cursor-pointer">
    <svg class="w-6 h-6 text-gray-600" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
      <path
        d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4s-4 1.79-4 4s1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z" />
    </svg>

    <span class="pr-2 ml-3">Empleados</span>
    @if (desplegado() == false) {
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <path fill="currentColor" d="M12 14.708L6.692 9.4l.708-.708l4.6 4.6l4.6-4.6l.708.708z" />
    </svg>
    } @else {
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <path fill="currentColor" d="m12 10.108l-4.6 4.6L6.692 14L12 8.692L17.308 14l-.708.708z" />
    </svg>
    }
  </div>
  @if (desplegado()) {
  <div class="ml-3">
    <div class="text-black text-sm-center ml-5 pt-5 flex-row flex">
      <svg class="w-6 h-6 text-gray-600" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
        <path
          d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4s-4 1.79-4 4s1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z" />
      </svg>

      <span [routerLink]="['/home/empleados']" class="ml-3 cursor-pointer">Empleados</span>

    </div>
    <div class="text-black text-sm-center ml-5 pt-5 flex-row flex">
      <svg class="w-6 h-6 text-gray-600" fill="currentColor" viewBox="0 0 24 24">
        <path
          d="M16 11c1.66 0 2.99-1.34 2.99-3S17.66 5 16 5s-3 1.34-3 3 1.34 3 3 3zm-8 0c1.66 0 2.99-1.34 2.99-3S9.66 5 8 5 5 6.34 5 8s1.34 3 3 3zm0 2c-2.33 0-7 1.17-7 3.5V19h14v-2.5c0-2.33-4.67-3.5-7-3.5zm8 0c-.29 0-.62.02-.97.05 1.16.84 1.97 2.01 1.97 3.45V19h6v-2.5c0-2.33-4.67-3.5-7-3.5z" />
      </svg>
      <span [routerLink]="['/home/equipos']" class="ml-3 cursor-pointer">Equipos</span>
    </div>
  </div>
  }

</div>
