<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Fichaje</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center content-centered">
  <ng-container *ngIf="!fichajeEmpleado.isLoading(); else loading">
    <div class="ficha-container">

      <ion-card>
        <ion-card-header>
          <ion-card-title>Hola, {{ fichajeEmpleado.value()!.nombre }}</ion-card-title>
          <ion-card-subtitle>{{ fichajeEmpleado.value()!.puesto }}</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          <p class="ion-text-center">Horario estimado: <strong>{{ fichajeEmpleado.value()!.horario || 'No definido'
              }}</strong></p>

          <ion-button expand="block" color="success" class="ion-margin-top" (click)="fichar('ENTRADA')"
            [disabled]="fichajeEmpleado.value()!.estadoSiguiente === 'SALIDA'">
            Fichar entrada
          </ion-button>

          <ion-button expand="block" color="tertiary" class="ion-margin-top" (click)="fichar('SALIDA')"
            [disabled]="fichajeEmpleado.value()!.estadoSiguiente === 'ENTRADA'">
            Fichar salida
          </ion-button>

          <ion-text color="danger" *ngIf="geoError()">
            <p class="ion-margin-top">{{ geoError() }}</p>
          </ion-text>

          <ion-text color="medium">
            <p class="ion-margin-top">Última entrada: <strong>{{ fichajeEmpleado.value()!.ultimaEntrada || 'N/A'
                }}</strong></p>
            <p>Última salida: <strong>{{ fichajeEmpleado.value()!.ultimaSalida || 'N/A' }}</strong></p>
          </ion-text>
        </ion-card-content>
      </ion-card>

      <ion-button expand="block" color="danger" fill="outline" class="ion-margin-top" (click)="logout()">
        Cerrar sesión
      </ion-button>

    </div>
  </ng-container>

  <ng-template #loading>
    <div class="ion-padding ion-text-center">
      <ion-spinner name="crescent"></ion-spinner>
      <p>Cargando datos del fichaje...</p>
    </div>
  </ng-template>
</ion-content>