<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Fichaje</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding bg-gradient">

  <ng-container *ngIf="!infoFichaje.isLoading(); else loading">
    <div class="ion-text-center ficha-wrapper">

      <ion-card class="custom-card">
        <ion-card-header class="ion-text-center">
          <h2 class="card-title">
            <ion-icon name="person-circle-outline" size="large"></ion-icon>
            {{ infoFichaje.value()?.nombre }} {{ infoFichaje.value()?.apellidos }}
          </h2>
          <p class="card-subtitle">{{ infoFichaje.value()?.puesto }}</p>
        </ion-card-header>

        <ion-card-content>

          <div class="horario-box ion-margin-top">
            <ion-icon name="time-outline"></ion-icon>
            <span><strong>Horario de hoy: </strong> <span class="text-primary">{{ entrada }} - {{ salida
                }}</span></span>
          </div>

          <div class="ion-margin-top">
            <ion-button expand="block" shape="round" color="success" (click)="fichar('ENTRADA')"
              [disabled]="infoFichaje.value()?.estadoSiguiente === 'SALIDA'">
              <ion-icon slot="start" name="log-in-outline"></ion-icon>
              Entrada
            </ion-button>

            <ion-button expand="block" shape="round" color="tertiary" class="ion-margin-top" (click)="fichar('SALIDA')"
              [disabled]="infoFichaje.value()?.estadoSiguiente === 'ENTRADA'">
              <ion-icon slot="start" name="log-out-outline"></ion-icon>
              Salida
            </ion-button>
          </div>

          <ion-text color="danger" *ngIf="geoError()">
            <p class="ion-margin-top">{{ geoError() }}</p>
          </ion-text>

          <ion-text *ngIf="mensajeFichaje()" class="text-green-600 font-semibold text-sm mt-2">
            {{ mensajeFichaje() }}
          </ion-text>

          <div *ngIf="mensajeToast()" class="custom-toast">
            {{ mensajeToast() }}
          </div>



          <ion-text color="medium">
            <p class="ion-margin-top">
              <strong>Última entrada:</strong> {{ infoFichaje.value()?.ultimaEntrada || 'N/A' }}
            </p>
            <p>
              <strong>Última salida:</strong> {{ infoFichaje.value()?.ultimaSalida || 'N/A' }}
            </p>
          </ion-text>

          <ion-button expand="block" disabled class="ion-margin-top" fill="solid" color="warning" shape="round">
            <ion-icon name="ticket-outline" slot="start"></ion-icon>
            Crear ticket
          </ion-button>

          <ion-button expand="block" class="ion-margin-top" fill="solid" color="danger" shape="round"
            (click)="logout()">
            <ion-icon name="exit-outline" slot="start"></ion-icon>
            Cerrar sesión
          </ion-button>

        </ion-card-content>
      </ion-card>

    </div>
  </ng-container>

  <ng-template #loading>
    <div class="ion-text-center ion-padding">
      <ion-spinner name="crescent"></ion-spinner>
      <p>Cargando datos del fichaje...</p>
    </div>
  </ng-template>
</ion-content>