<div class="bg-gray-300 h-full">
  <div class="pt-5 pb-5 flex items-center justify-center">
    <img src="logo.png" alt="logo" class="cursor-pointer">
  </div>
  <hr class="border-b border-gray-500 mx-5">

  <div class="max-h-[calc(100vh-200px)] overflow-y-auto">
    <component-navbar></component-navbar>
    <nav class="text-black">
      <ul class="space-y-2 pl-5 pt-3">
        <!-- Solicitudes de vacaciones -->
        <li class="flex items-center gap-2">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-gray-600" fill="currentColor" viewBox="0 0 24 24">
            <path
              d="M19 3h-1V1h-2v2H8V1H6v2H5c-1.11 0-2 .9-2 2v15c0 1.11.89 2 2 2h14c1.1 0 2-.89 2-2V5c0-1.1-.9-2-2-2zm0 17H5V8h14v12z" />
          </svg>
          <span [routerLink]="['/home/SVacas']" class="block p-2 rounded hover:bg-gray-300 cursor-pointer">
            Solicitudes de vacaciones
          </span>
        </li>

        <!-- Vacaciones y horarios -->
        <li class="flex items-center gap-2">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-gray-600" fill="currentColor" viewBox="0 0 24 24">
            <path
              d="M12 8v5h5v-2h-3V8zm7-5H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V5h14v14z" />
          </svg>
          <span [routerLink]="['/home/VHorarios']" class="p-2 rounded hover:bg-gray-300 cursor-pointer">
            Vacaciones y horarios
          </span>
        </li>

        <!-- TODO Informes
        <li class="flex items-center gap-2">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-gray-600" fill="currentColor" viewBox="0 0 24 24">
            <path d="M3 3h18v2H3V3zm0 6h12v2H3V9zm0 6h18v2H3v-2z" />
          </svg>
          <span [routerLink]="['/home/informes']" class="p-2 rounded hover:bg-gray-300 cursor-pointer">Informes</span>
        </li>
        -->

        <!-- Fichajes -->
        <li class="flex items-center gap-2">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-gray-600" fill="currentColor" viewBox="0 0 24 24">
            <path
              d="M20 4H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 14H4V6h16v12zM6 8h5v2H6zm0 4h8v2H6z" />
          </svg>
          <span [routerLink]="['/home/fichajes']" class="p-2 rounded hover:bg-gray-300 cursor-pointer">Fichajes</span>
        </li>


        <!-- Horarios -->
        <li class="flex items-center gap-2">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-gray-600" fill="currentColor" viewBox="0 0 24 24">
            <path
              d="M12 8v5h5v-2h-3V8zm7-5H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V5h14v14z" />
          </svg>
          <span [routerLink]="['/home/horarios']" class="p-2 rounded hover:bg-gray-300 cursor-pointer">Horarios</span>
        </li>

        <!-- Calendarios -->
        <li class="flex items-center gap-2">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-gray-600" fill="currentColor" viewBox="0 0 24 24">
            <path
              d="M19 4h-1V2h-2v2H8V2H6v2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 16H5V9h14v11z" />
          </svg>
          <span [routerLink]="['/home/calendarios']"
            class="p-2 rounded hover:bg-gray-300 cursor-pointer">Calendarios</span>
        </li>


        <!-- Gastos -->
        <li class="flex items-center gap-2">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-gray-600" fill="currentColor" viewBox="0 0 24 24">
            <path
              d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 17.93c-2.83.48-5.48-1.18-6.36-3.87H13v1.93zm6.36-4.93H11v-2h7.36c-.48-1.82-2.04-3.28-3.94-3.7V6h-2v1.29c-1.44.35-2.62 1.43-3.13 2.81H5.64C6.53 7.18 9.18 5.52 12 6.07V4h2v2.07c2.82.55 5.47 2.21 6.36 4.93z" />
          </svg>
          <span [routerLink]="['/home/gastos']" class="p-2 rounded hover:bg-gray-300 cursor-pointer">Estadísticas</span>
        </li>

        <!-- TODO Gestión de talento
        <li class="flex items-center gap-2">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-gray-600" fill="currentColor" viewBox="0 0 24 24">
            <path
              d="M12 2a7 7 0 0 1 7 7c0 4.08-4 7.45-6.5 9.66c-.47.41-1.21.41-1.68 0C9 16.45 5 13.08 5 9a7 7 0 0 1 7-7zm0 9.5c1.38 0 2.5-1.12 2.5-2.5S13.38 6.5 12 6.5S9.5 7.62 9.5 9S10.62 11.5 12 11.5z" />
          </svg>
          <span [routerLink]="['/home/GTalento']" class="p-2 rounded hover:bg-gray-300 cursor-pointer">Gestión de
            talento</span>
        </li>
        -->

        <!-- TODO Ofertas de trabajo
        <li class="flex items-center gap-2">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-gray-600" fill="currentColor" viewBox="0 0 24 24">
            <path d="M14 6V4h-4v2H5v14h14V6h-5zM6 18V8h12v10H6zm7-7h-2v2H9v2h2v2h2v-2h2v-2h-2v-2z" />
          </svg>
          <span [routerLink]="['/home/ofertas']" class="p-2 rounded hover:bg-gray-300 cursor-pointer">Ofertas de
            trabajo</span>
        </li>
        -->

        <!-- TODO Configuraciones
        <li class="flex items-center gap-2">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-gray-600" fill="currentColor" viewBox="0 0 24 24">
            <path
              d="M19.43 12.98c.04-.32.07-.66.07-1s-.03-.68-.07-1l2.11-1.65a.5.5 0 0 0 .12-.64l-2-3.46a.5.5 0 0 0-.6-.22l-2.49 1a7.03 7.03 0 0 0-1.52-.88L14.5 2h-5l-.38 2.13a7.03 7.03 0 0 0-1.52.88l-2.49-1a.5.5 0 0 0-.6.22l-2 3.46a.5.5 0 0 0 .12.64L4.57 11c-.04.32-.07.66-.07 1s.03.68.07 1l-2.11 1.65a.5.5 0 0 0-.12.64l2 3.46a.5.5 0 0 0 .6.22l2.49-1c.47.35.98.64 1.52.88L9.5 22h5l.38-2.13c.54-.24 1.05-.53 1.52-.88l2.49 1a.5.5 0 0 0 .6-.22l2-3.46a.5.5 0 0 0-.12-.64L19.43 12.98zM12 15.5c-1.93 0-3.5-1.57-3.5-3.5s1.57-3.5 3.5-3.5s3.5 1.57 3.5 3.5s-1.57 3.5-3.5 3.5z" />
          </svg>
          <span [routerLink]="['/home/config']"
            class="p-2 rounded hover:bg-gray-300 cursor-pointer">Configuraciones</span>
        </li>
        -->

        <!-- TODO Empresas
        <li class="flex items-center gap-2">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-gray-600" fill="currentColor" viewBox="0 0 24 24">
            <path d="M3 21h18v-2H3v2zm2-4h14v-5h-4V8H9v4H5v5z" />
          </svg>
          <span [routerLink]="['/home/empresas']" class="p-2 rounded hover:bg-gray-300 cursor-pointer">Empresas</span>
        </li>
        -->

        <!-- TODO Convenios
        <li class="flex items-center gap-2">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-gray-600" fill="currentColor" viewBox="0 0 24 24">
            <path d="M14 2H6c-1.1 0-2 .9-2 2v16l4-4h6c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2z" />
          </svg>
          <span [routerLink]="['/home/convenios']" class="p-2 rounded hover:bg-gray-300 cursor-pointer">Convenios</span>
        </li>
        -->

      </ul>
    </nav>
  </div>
</div>
