<!-- employee-page.component.html -->
<div class="p-6 bg-gray-300 h-full text-black">
  <!-- Header -->
  <div class="flex justify-between items-center mb-1">
    <div class="flex-row flex">
      <svg class="w-10 h-10 text-gray-600" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
        <path
          d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4s-4 1.79-4 4s1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z" />
      </svg>

      <h1 class="text-2xl font-semibold pl-3">Empleados</h1>
    </div>
    <div class="space-x-2">
      <button class="bg-green-100 text-green-800 px-4 py-2 rounded hover:bg-green-200" (click)="abrirFormulario()">
        Añadir empleado
      </button>
      <button class="bg-green-100 text-green-800 px-4 py-2 rounded hover:bg-green-200">Importar empleados</button>
      <button class="bg-green-100 text-green-800 px-4 py-2 rounded hover:bg-green-200">Cambiar mi password</button>
    </div>
  </div>
  <p class="text-sm text-gray-600 pb-6">
    Añade o edita empleados en tu empresa.
  </p>

  <!-- Filtro -->
  <empleado-filter (search)="onSearch($event)"></empleado-filter>

  <!-- Tabla -->
  <empleado-table [empleados]="filteredEmployees()" (seleccionarEmpleado)="abrirFormulario($event)"></empleado-table>
</div>
<!-- <app-selector-temas></app-selector-temas> -->


<!-- O si lo querés dentro de un modal manual -->
<div *ngIf="showAddEmpleado" class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50">
  <div class="bg-white p-6 rounded-lg w-full max-w-5xl relative">
    <button (click)="cerrarFormulario()" class="absolute top-2 right-2 text-gray-500 hover:text-black">
      ✖
    </button>
    <app-empleado-form [empleado]="empleadoSeleccionado()" (clickOutside)="cerrarFormulario()"
      (cerrarVentana)="cerrarFormulario()" (guardarEmpleado)="guardarEmpleado($event)"></app-empleado-form>
  </div>
</div>
