<section class="bg-white p-4 rounded shadow-xl mb-6">
  <h2 class="text-xl font-semibold mb-4">Filtrar fichajes</h2>


  <div class="grid grid-cols-1 md:grid-cols-6 gap-4">
    <input (input)="onInputChange()" type="text" placeholder="Buscar empleado" [(ngModel)]="searchNombre"
      class="col-span-2 border px-3 py-2 rounded" />

    <select [(ngModel)]="mesSeleccionado" class="border px-3 py-2 rounded">
      <option value="">Todos los meses</option>
      <option *ngFor="let mes of meses" [value]="mes.valor">{{ mes.nombre }}</option>
    </select>

    <select [(ngModel)]="anioSeleccionado" class="border px-3 py-2 rounded">
      <option value="">Todos los años</option>
      <option *ngFor="let anio of anios" [value]="anio">{{ anio }}</option>
    </select>
  </div>

  <div class="flex items-center gap-4 mt-4">
    <button (click)="aplicarFiltro()" class="bg-green-600 text-white px-4 py-2 rounded hover:bg-green-700">
      Filtrar
    </button>
    <button (click)="limpiarFiltro()" class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700">
      Limpiar
    </button>
  </div>
</section>
